/* ........Responsive for smaller device or mobile..... */
@media only screen and (max-width: 576px) {

    /* navbar */
    .nav-bar{
        max-width: 100%;
        margin: 0 auto;
        padding: 0.75rem;
        padding-right: 10px;
    }
    .nav-hamburger-menu{
        display: block;
        background-color: aliceblue;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link-container{
        display: none;
    }

    /* banner */
    .banner{
        flex-direction: column;
    }

    /* habit */
    .habit-bottom{
        flex-direction: column;
    }

    /* Extra mile */
    .extra-miles{
        flex-direction: column;
    }

    /* BMI calculator */
    .bmi-calculator-container{
        flex-direction: column;
    }

    /* meet our team */
    .team-members{
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer */
    .footer-top{
        flex-direction: column;
    }
    
}