/* ........Responsive for smaller device or mobile..... */
@media only screen and (max-width: 576px) {

    .body{
        margin: 0;
        padding: 0;
    }
    /* navbar */
    .nav-bar{
        max-width: 100%;
        margin: 0 auto;
        padding: 0.75rem;
        padding-right: 10px;
    }
    .nav-hamburger-menu{
        display: block;
        background-color: rgb(180, 182, 184);
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link-container{
        display: none;
    }

    /* banner */
    .banner{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .banner-image-container{
    width: 100%;
    margin-left: 50px;
    }
    .banner-text-container{
        justify-content: flex-start;
        padding: 20px;
    }
    .banner-title{
        font-weight: 700;
        font-size: 3rem;
    }
    
.banner-description{
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}
    .banner-btn{
        display: flex;
    }
    .banner-btn>button{
        width: 50%;
    }
    .btn-join{
  padding: 5px 10px;
    }
.btn-download-app{
    padding: 5px 10px;
}


.pop1{
    left: -15%;
    bottom: 42%;
}

.pop2{
    top: 14%;
    right: -100%;
}

    /* habit */
    .habits{
margin: 0;
padding: 0;
    }
    .habit-top{
        margin-top: 50px;
        padding: 20px;
        margin-bottom: 0;
    }
    .habit-bottom{
        margin-top: 0;
        width: 100%;
        flex-direction: column;
        padding: 20px;
        gap: 40px;
    }
    .habit{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .habit-detail{
        text-align: center;
    }

    /* Extra mile */
    .extra-miles{
        border: 2px solid tomato;
        margin-top: 1100px;
        margin-left: 0%;
        padding: 0%;

        width: 250px;
        height: 700px;

        flex-direction: column;    
    }
    .run-container{
        border: 2px solid yellow;
        width: 100%;
        height: 50%;
    }
.run-title{
    font-size: 2.1rem;
    font-weight: 800;
}
.run-detail{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1rem; 
}
.runnig-img-container{
    border: 5px solid blue;
    width: 100%;
    height: 50%;
}
.calculator-background{
    max-width: 77.5rem;
    max-height: 50rem;
    margin: 0%;
    margin-top: 50px;

    flex-direction: column;
    gap: 100px;
    padding: 0%;
    padding-top: 50px;
    
}

    /* BMI calculator */
    .bmi-cal{
        border: 5px solid yellow;
        margin: 0;
        padding: 0;
        padding-left: 20px;
    }
    .bmi-calculator-container{
        border: 5px solid yellowgreen;
        margin-top: 50px;
        width: 300px;
        height: 800px;
        flex-direction: column;
    }
    .calculator-background{
        margin: 0%;
        padding: 0%;
        margin-top: 20px;
        gap: 60px;
    }
    .chart-info{
        border: 5px solid red;
        margin: 0%;
        padding: 0%;
        margin-left: 20px;
        width: 100%;
    }
    .chart-title{
        font-size: 20px;
    }
    .calculator{
        border: 5px solid green;
        margin: 0%;
        width: 100%;
        margin-left: 20px;
    }
    .calculator-title{
        font-size: 20px;
    }
    .calculator-description{
        font-size: 12px;
    }
    .bmi-btn{
        width: 150px;
        height: 38px;
        padding: 12px 40px 12px 20px;
        margin-right: 10px;
        margin-bottom: 12px;
    }
    #bmi-btnn{
        width: 150px;
        height: 38px;
        padding: 12px 40px 12px 20px;
        margin-right: 10px;
        margin-bottom: 12px;
    }
    /* oue feature */
    .feature-head{
        border: 5px solid turquoise;
        margin: 0%;
        max-width: 270px;
        max-height: 270px;

        margin-left: 20px;
        margin-top: 50px;
        justify-content: flex-start;
        align-items: flex-start ;
    }
    .feature-title{
        font-size: 35px;
        text-align: left;
     }
     .feature-details{ 
        font-size: 12px;
     }
    .feature{
        margin: 0%;
        
        flex-direction: column;
        gap: 20px;
    }
    .items{
        max-width: 25.5rem;
        max-height: 10.75rem;
        flex-direction: row-reverse;
    }
    .items1{
        max-width: 25.5rem;
        max-height: 10.75rem;
    }
    .item-info{
        padding: 10px;
    }
    .item-title{
        font-size: 1rem;
        margin-bottom: 8px;
    }
    .item-details{
        font-size: 0.6rem;
    }
    .item-img-container{
        padding: 10px;
        margin-left: 30px;
    }
    /* meet our team */
    .team{
        margin: 0%;
        margin-top: 200px;
        flex-direction: column;
    }
    .team-top{
        border: 2px solid tomato; 
        width: 280px;
        height: 140px;

        margin: 0px;
        margin-left: 20px;
        padding: 10px;
    }
    .team-title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .team-description{
        font-size: 11px;
    }
    .team-members{ 
        width: 260px;
        height: 1400px; 
    
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        margin: 0%;
        padding: 0%;
        margin-left: 20px;
        margin-bottom: 50px;

    }
    .team-member{
        width: 230px;
        height: 220px;
        padding: 10px;
        padding-left: 40px;
        
    }
    .member-info{
        position: absolute;
        bottom: 8px;
        left: 20px;
    } 
    .member-info{
        position: absolute;
        bottom: 18px;
        left: 60px;
    } 
    .name{
        font-size: small;
        font-weight: bold;
    }
    

    /* footer */
    .footer{
        border: 5px solid tomato;
        width: 280px;
    }
    .footer-top{
        border: 5px solid teal;
        width: 250px;
        margin: 0px;
        padding: 0px;

        margin: 20px;
        
        flex-direction: column;
    }
    .footer-description{
        width: 240px;
        height: 70px;
        margin-bottom: 20px;
    }
    .footer-coloum{
        width: 100%;
        justify-content: center;
    }
    .point-title{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .footer-points{
        font-size: 22px;
        margin-bottom: 15px;
    }



    .horizontal-line{
        width: 250px;
        margin: 0%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    }
    .footer-bottom{
        width: 250px;
        margin: 0px;
        margin-left: 20px;
        padding: 20px;
    }

    
}