@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ......Sheared styles..... */
.display-flex{
    display: flex;
}
/* sheared colours */
.red1{
    color: rgb(230, 83, 60);
}
.white1{
    color: rgba(255, 255, 255, 1);
    ;
}

.body{
    background-color: black;
}


/* Header style starts here */
.header{
    
    max-width: 82rem;
    margin: 0 auto;
}
/* ........nav-bar style start............ */
.nav-bar{
    max-width: 82rem;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
}
.nav-links{
    box-sizing: border-box; 
    border: 1px solid rgba(255, 255, 255, 0.164);
    border-radius: 2.5rem;
    gap: 3.12rem;
    padding: 0.5rem;

}
.nav-items{
    list-style: none;
    font-size: 1.12rem;
    font-weight: 400;
}

.nav-link{
    text-decoration: none;
}
.nav-title{
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;

}
.Home{
    width: 100px;
    border-radius: 10px;
    background: rgb(230, 83, 60);
    padding: 4px;
}
.nav-hamburger-menu{
     display: none; 
}
/* ........nav-bar style end............ */

/* banner style starts */
.banner{
    margin-top: 2.5rem;
    gap: 3rem;

}
.banner>div{
    width: 50%;
}
.banner-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-image-container>img{
    
    padding-left: 50px;
}
.banner-text-container{
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.banner-title{
    font-weight: 900;
    font-size: 5rem;
    text-align: left;
    padding: 0;
}
.shape{
    font-style: italic;
    font-weight: 100;
    font-family: cursive;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-wrap: wrap;
    margin-top: 10px ;
    margin-bottom: 30px;
}
.btn-join{
    border-radius: 42px;
    padding: 16px 40px;
    background: rgb(230, 83, 60);
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 15px;

}
.btn-download-app{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: black;

}

/* pops styles start */
.pop1{
    background-color: rgba(48, 48, 48, 0.54);
    padding: 23px 28px;
    width: max-content;
    border-radius: 15px;
    position: absolute;
    left: 10%;
    bottom: 12%;
    gap: 8px;

}
.pop-round{
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.line{
    flex-direction: column;
}
.line1{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 3px;
}
.line2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;

}
.pop2{
    flex-direction: column;
    background-color: rgba(48, 48, 48, 0.54);
    padding: 23px 28px;
    width: max-content;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    right: 5%;
}
/* pops styles ends */
/* banner style ends */
/* Header style ends here */


/* .........main section style starts here............ */
.main{
    
    max-width: 82rem;
    margin: 0 auto;
}
/* habit section start */
.habits{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 6.25rem;
    margin-bottom: 3.5rem;
    gap: 4rem;
    text-align: center;
}
.habit-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}
.habit-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    margin-top: 0.5rem;
}
.habit-bottom{
    gap: 0.6rem;
}
.habit>img{
    border-radius: 50%;
    margin-bottom: 2rem;
    border: 5px solid rgba(128, 128, 128, 0.466);
}
.habit-name{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0.5rem;
}
.habit-detail{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}
/* habit section end */

/* Run extra miles section starts here */
.extra-miles{
    border-radius: 1.3rem;
    background: rgb(34, 34, 34);
    padding: 54px 40px;
    gap: 5%;
}
.run-container{
    flex-direction: column;
    max-width: 50%;

}
.runnig-img-container{
    max-width: 40%;
}
.runnig-img-container>img{
    width: 100%;
    border-radius: 1.3rem;
}
/* Run extra miles section ends here */
/* .........main section style ends here............ */