@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ......Sheared styles..... */
.display-flex{
    display: flex;
}
/* sheared colours */
.red1{
    color: rgb(230, 83, 60);
}
.white1{
    color: rgba(255, 255, 255, 1);
    
}
.white2{
    color: rgba(255, 255, 255, 0.5);
}
.body{
    background-color: black;
}


/* Header style starts here */
.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    max-width: 77.5rem;
    margin: 0 auto;
}
/* ........nav-bar style start............ */
.nav-bar{
    max-width: 77.5rem;
    justify-content: space-between;
    /* margin-top: 100px; */
    margin-left: 190px;
    margin-right: 190px;
    padding-top: 60px;
}
.nav-links{
    box-sizing: border-box; 
    border: 1px solid rgba(255, 255, 255, 0.164);
    border-radius: 2.5rem;
    gap: 3.12rem;
    padding: 0.5rem;

}
.nav-items{
    list-style: none;
    font-size: 1.12rem;
    font-weight: 400;
}

.nav-link{
    text-decoration: none;
}
.nav-title{
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;

}
.Home{
    width: 100px;
    border-radius: 10px;
    background: rgb(230, 83, 60);
    padding: 4px;
}
.nav-hamburger-menu{
    display: none; 
}
/* ........nav-bar style end............ */

/* banner style starts */
.banner{
    gap: 1.5rem;
    margin-left: 190px;
    margin-right: 160px;
}
.banner-image-container{
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-image-container>img{
    
    padding-left: 150px;
}
.banner-text-container{
    flex-direction: column;
    justify-content: center;
}
.banner-title{
    font-weight: 900;
    font-size: 3.7rem;
    text-align: left;
    padding-top: 50px;
}
.shape{
    font-style: italic;
    font-weight: 100;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    text-wrap: wrap;
    margin-top: 10px ;
    margin-bottom: 50px;
}
.btn-join{
    border-radius: 42px;
    border: none;
    padding: 15px 30px;
    width: 224px;
    height: 54px;
    background: rgb(230, 83, 60);
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 15px;

}
.btn-download-app{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 15px 30px;
    width: 224px;
    height: 54px;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: black;

}

/* pops styles start */
.pop1{
    background-color: rgba(48, 48, 48, 0.54);
    padding: 15px 21px;
    width: max-content;
    border-radius: 15px;
    position: absolute;
    left: 10%;
    bottom: 12%;
    gap: 8px;

}
.pop-round{
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.line{
    flex-direction: column;
}
.line1{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 2px;
}
.line2{
    font-size: 14px;
    font-weight: 400;
}
.line3{
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 2px;
}
.line4{
    font-size: 12px;
    font-weight: 400;
}
.pop2{
    flex-direction: column;
    background-color: rgba(48, 48, 48, 0.54);
    padding: 14px 20px;
    width: max-content;
    border-radius: 15px;
    position: absolute;
    top: 25%;
    right: -20%;
}
/* pops styles ends */
/* banner style ends */
/* Header style ends here */


/* .........main section style starts here............ */

/* habit section start */
.habits{
    max-width: 77.5rem;
    margin: 0 auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 88px 0px;
    margin-right: 320px;
    margin-left: 270px;
    gap: 4rem;
    text-align: center;
}
.habit-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}
.habit-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    margin-top: 0.5rem;
}
.habit-bottom{
    gap: 0.6rem;
    width: 1040px;
    height: 270px;
    margin: 55px 0px;
    margin-left: 190px;
    margin-right: 160px;
}
.habit>img{
    border-radius: 50%;
    margin-bottom: 2rem;
    border: 5px solid rgba(128, 128, 128, 0.466);
}
.habit-name{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0.5rem;
}
.habit-detail{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}
/* habit section end */

/* Run extra miles section starts here */
.extra-miles{
    
    max-width: 77.5rem;
    margin: 0 auto;

    border-radius: 1.3rem;
    background: rgb(34, 34, 34);
    padding: 54px 40px;

    gap: 5%;
    margin-bottom: 88px;
    margin-left: 280px;
    margin-right: 190px;
}
.run-container{
    flex-direction: column;
    max-width: 50%;
    margin-left: 45px;
    margin-top: 25px;

}
.run-title{
    font-size: 2.7rem;
    font-weight: 900;
    line-height: 120%;
    
}
.run-detail{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1rem;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.runnig-img-container{
    max-width: 40%;
    padding-top: 20px;
}
.runnig-img-container>img{
    width: 100%; 
    border-radius: 1.3rem;
    /* width: 360px;
    height: 310px; */
    object-fit: fill;
    object-position: 66% 33%; 
}
/* Run extra miles section ends here */

/* BMI calculator Css starts here */
.bmi-cal{
    width: 670px;
    height: 120px;
    
    display: flex;
    flex-direction: column;

    margin-left: 590px;
    margin-right: 385px;
    margin-bottom: 88px;
}

.cal-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}
.cal-detail{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.bmi-calculator-container{
    background-color: rgb(34, 34, 34);
}
.calculator-background{
    width: 1220px;
    height: 500px;

    gap: 100px;
    padding-top: 50px;
    margin-bottom: 88px;
    margin-left: 290px;
    margin-right: 190px;
    
}
.chart-info{
    flex-direction: column;
    margin-left: 60px;
    width: 50%;
}
.chart-title{
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 50px;
}

.calculator{
    flex-direction: column;
    margin-right: 80px;
    width: 50%;
}
.calculator-title{
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 20px;
}
.calculator-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    
}
.calculator-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: 30px;
}
.bmi-btn{
    width: 250px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    margin-right: 10px;
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

/* BMI calculator Css ends here */

/* "Meet our Team" css starts here.....*/
.team{
    
    max-width: 77.5rem;
    margin: 0 auto;

    flex-direction: column;
}
.team-top{
    /* border: 2px solid tomato; */
    width: 471px;
    height: 90px;
    flex-direction: column;
    align-items: center;
    margin: 30px 390px;
    
}
.team-title{
    font-size: 38px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
}
.team-description{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
.team-members{ 
    width: 1080px;
    height: 624px; 

    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: stretch;
    gap: 20px;
    
    padding: 20px 20px;
    
    margin-bottom: 88px;
    margin-left: 80px;
    margin-right: 190px;
}
.team-member{
    position: relative; 

    width: 330px;
    height: 270px;
    align-self: stretch;
}
.team-member>img{
    width: 100%; 
    height: 100%;
    border-radius: 8px;
}
.member-info{
    position: absolute;
    bottom: 8px;
    left: 20px;
} 
.name{
    font-size: medium;
    font-weight: bold;
}
/* "Meet our Team" css ends here.....*/
/* .........main section style ends here............ */

/* footer css style */
.footer{
    background: rgba(255, 255, 255, 0.1);
}
.footer-top{
    max-width: 77.5rem; 
    margin-left: 370px;
    margin-right: 190px;
    padding-top: 66px;
    padding-bottom: 60px;
}
.foot-top{
    width: 50%;
}
.footer-description{
    width: 340px;
    height: 70px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.footer-coloum{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.point-title{
    margin-bottom: 18px;
}
.footer-points{
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 5px;

}
.horizontal-line{
    max-width: 77.5rem; 
    margin-left: 300px;
    margin-right: 190px;
}
.footer-bottom{
    max-width: 77.5rem; 
    margin-left: 320px;
    margin-right: 190px;
    justify-content: center;
    margin: 50px 290px; 
    padding-bottom: 50px;
}